<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/m.css" th:href="@{/css/m.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
</head>
<body>

    <nav th:fragment="menu(n)" class = "ui inverted attached segment">
        <div class = "ui container">
            <div class = "ui inverted secondary stackable menu">
                <h2 class = "ui teal header item">Blog</h2>
                <a herf = "#" class = "m-hidden-button item m-mobile-hidden" th:classappend="${n==1} ? 'active'"><i class = "home icon"></i>首页</a>
                <a herf = "#" class = "m-hidden-button item m-mobile-hidden" th:classappend="${n==2} ? 'active'"><i class = "idea icon"></i>分类</a>
                <a herf = "#" class = "m-hidden-button item m-mobile-hidden" th:classappend="${n==3} ? 'active'"><i class = "tags icon"></i>标签</a>
                <a herf = "#" class = "m-hidden-button item m-mobile-hidden" th:classappend="${n==4} ? 'active'"><i class = "info icon"></i>关于我</a>
                <div class = "right item m-mobile-hidden">
                    <div class = "ui icon input">
                        <input type = "text" placeholder="Search...">
                        <i class = "search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
            <i class = "sidebar icon"></i>
        </a>

    </nav>


    <footer th:fragment="footer" class = "ui inverted vertical segment">
        <div class = "ui container">
            <div class = "ui grid">
                <div class="three wide column">
                    <img src = "../static/images/0DC86197-9459-467F-B871-3FD1D31A9CDB.jpeg" th:src="@{/images/0DC86197-9459-467F-B871-3FD1D31A9CDB.jpeg}" class="ui image">
                </div>
                <div class="three wide column"></div>
                <div class="three wide column">
                    <div class = "ui inverted link list">
                        <div>aaaaa</div>
                        <div>bbbbb</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="../static/libtocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>


</th:block>


</body>
</html>